body {
    background-color: rgb(20, 20, 20);
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: clamp(1rem, 2.5vw, 2rem); 
}

.navbar ul {
    list-style-type: none;
    background-color: rgb(50, 50, 50, 0.5);
    overflow: hidden;

    margin: 0;
}
  
.navbar li {
    float: left;
    padding: 15px;
}

.navbar li :hover {
    transition: width 0.7s;
}
  
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
}
  
.navbar li :hover {
    background-color: #111;
    color: white;
}

.navbar .active {
    background-color: rgb(200, 200, 200);
    color: black;
}

.body {
    position:relative;
    text-align: center;
    animation: fadein 3s, moving 2s;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes moving {
    from {top: -50px;}
 to {top: 0px;}
}

.section {
    background-color: rgb(40, 40, 40);
    display: grid;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
}

.section .header {
    width: 25%;
    padding: 10px;
    border-right: 1px solid #bbb;
}

.section p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.section h3 {
    margin-block-start: 0;
    margin-block-end: 25px;
}